body {
    margin: 0px;
    padding: 0px;
  }
  
  ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  
  /* header */
  .election-stage-2-voter-details-header {
    width: 100vw;
    height: 12vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .election-stage-2-voter-details-header ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .election-stage-2-voter-details-header ul li {
    list-style: none;
  }
  
  .election-stage-2-voter-details-header-Logo {
    width: 8vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .election-stage-2-voter-details-header-Logo img {
    width: 80%;
    height: 90%;
  }
  
  .election-stage-2-voter-details-header-text {
    width: max-content;
    padding: 0.5rem;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(23, 12, 85);
    font-family: sans-serif;
  }
  
  /*  */
  .election-stage-2-voter-details-nav {
    height: max-content;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to right, rgb(2, 44, 95), rgb(11, 90, 185), rgb(31, 172, 247));
  }
  
  .election-stage-2-voter-details-nav ul {
    width: 80%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto;
    padding: 1rem;
  }
  
  .election-stage-2-voter-details-menu-block {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .election-stage-2-voter-details-menu-icon {
    color: whitesmoke;
    border-radius: 50%;
  }
  
  .election-stage-2-voter-details-menu-icon:hover {
    background-color: rgba(2, 3, 58, 0.5);
  }
  
  .election-stage-2-voter-details-nav-text {
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin: 0px;
    font-size: 1rem;
    padding: 0px 0px 0px 5px;
  }
  
  .election-stage-2-path-block {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 0.4rem;
  }
  
  .election-stage-2-path-block a {
    text-decoration: none;
    color: rgb(23, 2, 74);
  }
  
  .election-stage-2-path-block a:hover {
    text-decoration: underline;
  }
  
  .election-stage-2-voter-details-main-block {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    border-radius: 5px;
  }
  
  .election-stage-2-voter-details-main-block h3 {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: rgb(11, 1, 73);
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 5px 5px 0px 0px;
  }
  
  .election-stage-2-voter-details-form {
    width: 100%;
    height: max-content;
    border-radius: 0px 0px 5px 5px;
    padding: 1rem 0rem 0rem 0px;
  }
  
  .election-stage-2-voter-details-form select {
    cursor: pointer;
    width: 80%;
    padding: 1rem;
    font-size: 15px;
    background-color: white;
    border: none;
    border-bottom: 2px solid rgb(2, 2, 31);
    outline: none;
    margin-top: 2rem;
  }
  
  .election-stage-2-select-item {
    cursor: pointer;
  }
  
  .election-stage-2-voter-details-form select:focus {
    outline: none;
    box-shadow: 0 0 0 8px aliceblue;
  }
  
  .election-stage-2-sumbitbtnfield {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:right;
  }
  
  .election-stage-2-submitbtn {
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    border-radius: 5px;
    margin-right:1rem;
    padding: 0.5rem;
    background: linear-gradient(to right, rgb(2, 2, 37), rgb(2, 2, 101), rgb(30, 4, 158), rgb(97, 92, 235));
    border: none;
    outline: none;
  }
  
  .election-stage-2-input-text-field {
    padding:1rem 0px 1rem 0px;
    width: 100%;
    margin-top:1rem;
  }
  
  .election-stage-2-input-block-1 {
    width: 100%;
    display: block;
    border-bottom: 2px solid rgb(2, 2, 31);
    position: relative;
  }
  
  .election-stage-2-datetime-input-block {
    width: 100%;
    display: block;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column: max-content;
    grid-row: auto;
    row-gap: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  
  .election-stage-2-datetime-input-block p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
  }
  
  .election-stage-2-datetime-input-block input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  
  .election-stage-2-input-voterid {
    width: max-content;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    height: min-content;
    transition: all 0.3s ease-in-out;
  }
  
  .election-stage-2-input-voterid:focus {
    outline: none;
  }
  
  .election-stage-2-label-input-voterid-before {
    padding: 0px;
    padding-left: 1.3rem;
    margin: 0px;
    font-size: 18px;
    color: rgb(30, 27, 37);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transform: translateY(0.5rem);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    position: absolute;
  }
  
  .election-stage-2-label-input-voterid-after {
    color: rgb(1, 1, 48);
    font-size: 15px;
    transform: translateY(-1rem);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: sans-serif;
  }
  
  .election-stage-2-input-date-time-header {
    padding: 0px;
    padding-bottom: 1rem;
    margin: 0px;
  }
  